/dir1
/data/api_key
/.spyproject
/References/ref.docx
/Examples/garch_data.py
/Examples/Untitled.ipynb
/Examples/.ipynb_checkpoints
/Model/midas.py
/Model/Example2.ipynb
/Model/Example.ipynb
/Model/GARCH_impl.ipynb
/Model/MIDAS_Test.ipynb
/Model/MIDAS_Trans.ipynb
/Model/my_sum
/Model/.ipynb_checkpoints
/midas/.ipynb_checkpoints
/midas/.spyproject
/midas/__pycache__
/midas/tester.py
/results
/data/data_prep.py
/References
/Model
/Examples/Untitled1.ipynb
